@import './base.css';

:root {
  --border-color: #ccc;
    --text-color-1: #333;
  --text-color-2: #666;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html, body {
  height: 100%;
  margin: 0;
}

.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #18212c;
  background-color: white;
}

.menu-links a {
  color: #2c3e50;
  text-decoration: none;
}

.home {
  background: url("@/assets/graphics/background-home-2.svg") no-repeat 0 calc(100% + 10rem);
  background-size: calc(100% + 1rem);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}





